<!-- <div class="container">
  <div class="progress" *ngIf="isLoading">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>


  <form [formGroup]="form" (submit)="onSaveEvent()">
      <div class="form-group">
        <label>Event Type:</label>
        <select class="custom-select" formControlName="eventType" aria-placeholder="Select">
          <option value="">Select</option>
          <option *ngFor="let eventType of eventTypes">{{eventType}}</option>
        </select>
        <div class="invalid-fb" *ngIf="form.get('eventType').touched && form.get('eventType').value === ''">Please select Event Type</div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <label>Date:</label>
            <div class='input-group date'>
              <input type='text' class="form-control"  id='datetimepicker1' formControlName="eventDate" />
              <!-- {{form.get('eventDate').value}}test
              <div class="invalid-fb" *ngIf="form.get('eventDate').touched && form.get('eventDate').value === ''">Please select Event Date</div>
            </div>
          </div>
        </div>
      </div> -->


     <!-- <div class="form-group">
        <label for="exampleFormControlInput1">Name:</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" formControlName="eventName">
        <div class="invalid-fb" *ngIf="form.touched && form.get('eventName').invalid">Please select Event Name</div>
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Share Thoughts:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="eventComments"></textarea>
        <div class="invalid-fb" *ngIf="form.touched && form.get('eventComments').invalid">Please select Event Thoughts</div>
      </div>

      <input class="btn btn-primary" type="submit" value="Submit">

    </form>

</div>> -->
<mat-card>
      <div class="example-container">
        <form class="example-container" [formGroup]="form" (submit)="onSaveEvent()">
          <!-- <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
          <div>
            <label>Float label: </label>
            <mat-radio-group formControlName="floatLabel">
              <mat-radio-button value="auto">Auto</mat-radio-button>
              <mat-radio-button value="always">Always</mat-radio-button>
              <mat-radio-button value="never">Never</mat-radio-button>
            </mat-radio-group>
          </div> -->

          <mat-form-field
              [hideRequiredMarker]="form.value.hideRequired"
              [floatLabel]="form.value.floatLabel">
            <mat-select formControlName="eventType">
              <mat-option>-- None --</mat-option>
              <mat-option *ngFor="let eventType of eventTypes" value="{{eventType}}">{{eventType}}</mat-option>
            </mat-select>
            <mat-label><mat-icon>favorite</mat-icon> <b> Type of Diary</b> </mat-label>
          </mat-form-field>

          <mat-form-field
              [hideRequiredMarker]="form.value.hideRequired"
              [floatLabel]="form.value.floatLabel">
            <input matInput placeholder="Name of Event" formControlName="eventName">
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Event Date" formControlName="eventDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field [floatLabel]="form.value.floatLabel">
            <mat-label>Place to share thoughts</mat-label>
            <textarea matInput placeholder="Share Memory" rows="4" formControlName="eventComments"></textarea>
          </mat-form-field>

          <button
          mat-raised-button
          color="accent"
          type="submit">Save Event
        </button>


        </form>
      </div>

</mat-card>

